.col-md-12
  %h3
    = t '.listing_articles'
    %small= link_to t('.new_article'), new_article_path, class: 'btn btn-default btn-xs'

.col-md-8.col-md-offset-2
  %table.table
    %thead
      %tr
        %th= t '.id'
        %th= t '.title'
        %th
        %th= t '.opt'
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.id
          %td= link_to article.title, article
          %td= link_to t('.source'), article.url
          %td
            .btn-group
              = link_to t('phrase.show'), article, class: 'btn btn-default btn-xs'
              = link_to t('phrase.edit'), edit_article_path(article), class: 'btn btn-default btn-xs'
              = link_to t('phrase.destroy'), article, method: :delete, data: { confirm: t('phrase.are_you_sure') }, class: 'btn btn-default btn-xs'
