.col-md-8.col-md-offset-2
  %h3
    = t '.listing_articles'
    \@
    = @medium.login_name
    %small= link_to t('.new_article'), new_medium_article_path, class: 'btn btn-default btn-xs'

  %ul.nav-tabs.nav
    %li{ class: active?(params[:includes] != 'all') }= link_to '.belongs', medium_articles_path
    %li{ class: active?(params[:includes] == 'all') }= link_to '.all', medium_articles_path(includes: 'all')
  %table.table
    %thead
      %tr
        %th= t '.id'
        %th= t '.title'
        %th
        %th= t '.opt'
    %tbody
      - @articles.each do |article|
        %tr{ class: active?(article.medium_id == @medium.id) }
          %td= article.id
          %td= link_to article.title, medium_article_path(@medium, article)
          %td= link_to t('.source'), article.url, target: '_blank'
          %td= render partial: 'opt', locals: { medium: @medium, article: article }
