.col-md-4.col-md-offset-4
  %h2= @article.title
  %p= link_to @article.url, @article.url
  %p= render partial: 'opt', locals: { medium: @medium, article: @article }
  %hr
  = @medium.header
  %hr
  = sanitize @article.content
  %hr
  = @medium.footer
  %hr
