.col-md-4.col-md-offset-4
  = simple_form_for @medium do |f|
    = f.error_notification

    = f.input :login_name
    = f.input :media_type, collection: Medium.media_types.keys, as: :radio_buttons

    %hr

    = f.input :header, as: :text, input_html: { rows: 3 }
    = f.input :footer, as: :text, input_html: { rows: 3 }

    .form-actions
      = f.button :submit