.col-md-4.col-md-offset-4
  %h2
    = @medium.login_name
    \@
    = @medium.media_type
    %small
      = link_to t('phrase.edit'), edit_medium_path(@medium), class: 'btn btn-default btn-xs'
      = link_to t('phrase.back'), media_path, class: 'btn btn-default btn-xs'
  %hr
  = @medium.header
  %hr
  = t '.this_is_where_your_articles_lays'
  %hr
  = @medium.footer
